
<div class="container-fluid" >
    <div class="row">
        <div class="col-2" >
            <div class="sidebar" >
                <ul>
                   
                     
                    <a routerLink="/operationexecutive/cibilcheck" class="btn btn-secondary">Check Cibil </a>
                    <hr>
                    <a routerLink="/operationexecutive/verifydocuments" class="btn btn-secondary">Verify Documents</a>
                
                
                </ul>
            </div>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

