<div class="container-fluid" >
    <div class="row">
        <div class="col-2" >
            <div class="sidebar" >
                <ul>
                   
                     
                    
                     <li><a routerLink="/relationexecutive/addcustomer" class="btn btn-secondary">Add Customer</a></li>
                     <hr>
                     <li><a routerLink="/relationexecutive/viewcustomer" class="btn btn-secondary">View Customer</a></li>
                </ul>
            </div>
        </div>
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>